<div class="profile-container">
    <div class="profile-image">
        <img src="{{userData.petPicture}}" alt="Bruno's Profile Picture">
    </div>
    <div class="profile-info">
        <h1>Here {{userData.petName}}'s Profile</h1>
        <form>
            <label>Birth Day</label>
            <input type="text" placeholder="Value" [disabled]="true" [value]="userData.birthday">

            <label>Breed</label>
            <input type="text" placeholder="Value" [disabled]="true" [value]="userData.breed">

            <label>Gender</label>
            <input type="text" placeholder="Value" [disabled]="true" [value]="userData.gender">

            <label>Owner</label>
            <input type="text" placeholder="Value" [value]="userData.name" [disabled]="true">

        </form>
    </div>
</div>



<div class="appointments-container">
    <!-- Upcoming Appointments -->
    <div class="appointment-card">
        <h1>Next Appointment</h1>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input type="text" [value]="nextUpcomingAppointment?.date" disabled>
              </div>
              <div class="form-group">
                <label>Vet’s Name</label>
                <input type="text" [value]="nextUpcomingAppointment?.veterinarian" disabled>
              </div>
              <div class="form-group">
                <label>Time</label>
                <input type="text" [value]="nextUpcomingAppointment?.time" disabled>
              </div>
              <div class="form-group">
                <label>Type</label>
                <input type="text" [value]="nextUpcomingAppointment?.type" disabled>
              </div>
              
              
        </form>
    </div>

    <!-- Recent Appointments -->
    <div class="appointment-card">
        <h1>Last Appointment</h1>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input type="text" [value]="lastPastAppointment?.date" disabled="">
            </div>
            <div class="form-group">
                <label>Vet’s Name</label>
                <input type="text" [value]="lastPastAppointment?.veterinarian" disabled="">
            </div>
            <div class="form-group">
                <label>Time</label>
                <input type="text" [value]="lastPastAppointment?.time" disabled="">
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" [value]="lastPastAppointment?.type" disabled="">
            </div>
            
        </form>
    </div>
</div>


<!-- tables -->
<div class="row3">

    <!-- Health Records -->
    <section>
        <p class="subheading">Health Records</p>

        <table>
            <tr>
                <th>Weight</th>
                <th>Height</th>
                <th>Alergies</th>
                
            </tr>
            <tr>
                <td>{{userData.weight}} kg</td>
                <td>{{userData.height}} cm</td>
                <td>{{userData.alergies}}</td>
            </tr>
        
        </table>

    </section>

</div>

<div class="row3">

    <!-- Vaccinations -->
    <section style="margin-bottom: 40px;">
        <p class="subheading">Vaccinations</p>

        <table>
            <tr>
                <th>Vaccines Used</th>
                <th>Date</th>
                <th>Veterinary</th>
            </tr>
            <tr>
                <td>D.H.L Vaccination</td>
                <td>2024.11.16</td>
                <td>Dr Prathiba Thilakarathna</td>
            </tr>
            <tr>
                <td>Anti Rabies Vaccination</td>
                <td>2024.10.09</td>
                <td>Dr Imandi Abeysinghe</td>
            </tr>
            <tr>
                <td>Parvo Vaccination</td>
                <td>2024.02.16</td>
                <td>Dr Prathiba Thilakarathna</td>
            </tr>
            <tr>
                <td>Canine parainfluenza Vaccination</td>
                <td>2023.12.06</td>
                <td>Dr Eranga Dissanayake</td>
            </tr>
            <tr>
                <td>Canine distemper Vaccination</td>
                <td>2023.02.26</td>
                <td>Dr Thusith Kalhara</td>
            </tr>
        </table>

    </section>