<div class="container1">
    <!-- Header -->
    <div class="row1">
        <header class="topnav" id="top">
            <img src="Logo.png" alt="logo" class="logo">
            <label class="tagline">" Paws and Peace... "</label>
            <nav class="nav-links">
                <a routerLink="homepage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                <a routerLink="yourpet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Your Pet</a>
                 <a routerLink="appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Appointments</a>
                <a routerLink="shop" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Shop</a>
                <a routerLink="blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Blog</a>
                <a routerLink="" id="logBtn">Log Out</a>
            </nav>
        </header>
    </div>
</div>